html
{
    display: flex;
    justify-content: center;
    background-image: url("images/brushed.png");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body
{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    background-color: rgb(18, 140, 127);
    color: white;
}
header
{
    text-align: center;
    margin-bottom: 20px;
}
img
{
    width: 150px;
    height: 150px;
}
.row
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.field{width: 45%;}
input[type="text"], textarea, select
{
    background-color : rgb(33, 168, 155);
    border-radius: 5px;
    border-width: 0px;
    color: white;
    height: 30px;
    width: calc(100% - 20px);
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
.info
{
    width: calc(100% - 25px);
    margin-left: 13px;
    margin-bottom: 20px;
}
input[name=phone]{width: 150px;}
input[name=direction]
{
    width: 30px;
    margin-right: 5px;
}
#fullNumber{display: flex;}
select{width: 100%;}
textarea {height: 50px;}
a
{
    color: white;
    font-weight: bold;
}
#submit
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.error
{
    color: yellow;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    width: auto;
}
.button
{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border-width: 0px;
    font-weight: bold;
    text-decoration: none;
}
.button:hover{opacity: 0.8;}
p, h4, h2, #index main{text-align: center;}
#index a
{
    margin-bottom: 10px;
    width: 150px;
}
